@tailwind components;
@tailwind utilities;
/*@tailwind base;*/

:root {
  --primary-color: #095150;
  --primary-color-hover: #053f3e;
  --secundary-color: #edfffc;
}

body {
  background-color: white !important;
  margin: 0;
}
