.dropzone-area-style
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #095150;
    background: transparent;
    border-color: #b6c4c2;
    flex-direction: column;
}

.dropzone-area-style svg
{
    color: #095150;
}

.dropzone-area-style div:nth-child(3)
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    width: 100%;
    border-top: 3px dashed #b6c4c2;
    box-sizing: border-box;
}

.dropzone-area-style div:nth-child(3) div
{
    width: fit-content;
    padding: 0.5rem;
    flex-direction: row;
    align-items: center;
    display: flex;
    border: none;
}

.dropzone-area-style div:nth-child(3) div img
{
    width: 3rem;
    height: auto;
    margin-right: 1rem;
}

.dropzone-area-style div:nth-child(3) div p
{
    text-align: left;
}

.dropzone-area-style div:nth-child(3) div button
{
    top: 0;
    opacity: 1 !important;
    position: relative;
    right: 0;
    margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
    .dropzone-area-style div:nth-child(3) div
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .dropzone-area-style div:nth-child(3) div img
    {
        width: auto;
        margin-right: 0;
    }

    .dropzone-area-style div:nth-child(3) div button
    {
        position: absolute;
    }
}